<div class="container">
  <h1 class="container pt-2 m-1 col-12 d-flex row justify-content-center align-items-end">Historico de Cotação</h1>

  <div class="container pt-1 m-1 col-12 border border-secondary border-2 rounded d-flex row justify-content-center align-items-end">
    <form [formGroup]="formulario" (ngSubmit)="onSubmit()">
      <div class="form-group m-3 d-flex row justify-content-around">
        <div class="form-group mr-3">
          <label for="moeda">Moeda</label>
          <select class="form-control altura mr-3" formControlName="moeda" id="moeda" required>
            <option *ngFor="let moeda of moedas" [value]="moeda">{{moeda}}</option>
          </select>
          <div *ngIf="formulario.get('moeda')?.errors?.['required'] && formulario.get('moeda')?.touched" class="text-danger">
            Campo obrigatório
          </div>
        </div>
        <div class="form-group mr-3">
          <label for="dataInicio">Data Inicial</label>
          <input type="date" class="form-control altura" formControlName="dataInicio" id="dataInicio">
          <div *ngIf="formulario.get('dataInicio')?.errors?.['required'] && formulario.get('dataInicio')?.touched" class="text-danger">
            Campo obrigatório
          </div>
        </div>
        <div class="form-group d-flex flex-column mr-3">
          <label for="dataFim">Data Final</label>
          <input type="date" class="form-control altura" formControlName="dataFim" id="dataFim">
          <div *ngIf="formulario.get('dataFim')?.errors?.['required'] && formulario.get('dataFim')?.touched" class="text-danger">
            Campo obrigatório
          </div>
          <div *ngIf="formulario.hasError('dataFinalAnterior') && (formulario.get('dataInicio')?.touched || formulario.get('dataFim')?.touched)" class="text-danger">
            A data final não pode ser anterior à data inicial.
          </div>
        </div>
        <div class="form-group d-flex align-items-end">
          <button type="submit" [disabled]="!formulario.valid" class="altura btn btn-success btn btn-success mr-3">Consultar dados</button>
        </div>
      </div>
    </form>
  </div>
</div>
